*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.card-section{
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 100px 90px;
    flex-wrap: wrap;
}

.card-section .card{
    width: calc((100% - 90px) / 4);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.card-section .card:hover{
    transform: translateY(-5px);
}

.card-section .card .upper{
    position: relative;
    height: 270px;
    align-content: center;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    overflow: hidden;
}

.card-section .card .upper .new{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 255, 102, 1);
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
}

.card-section .card .upper .icons{
    position: absolute;
    top: 15px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    cursor: pointer;
}

.card-section .card .upper .icons i{
    transition: all 0.6s ease-in-out;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: white;
    align-content: center;
}

.card-section .card .upper .icons i:hover{
    color: aqua;    
}

.card-section .card .upper .image{
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-section .card .upper .image img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.card-section .card .upper .cart{
    position: absolute;
    bottom: -60px;        
    width: 100%;
    text-align: center;
    transition: all 1.5s ease;
}

.card-section .card .upper .cart p{
    width: 100%;
    padding: 12px 0;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.card-section .card:hover .upper .cart{
    bottom: 0;
}

.card-section .card .lower{
    padding: 20px 5px 10px 5px;
}

.card-section .card .lower .kids{
    font-weight: bold;
}

.card-section .card .lower .ratings-line{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 10px;
    padding-left: 0;
}

.card-section .card .lower .ratings-line .price{
    color: rgba(219, 68, 68, 1);
    font-weight: bold;
}

.card-section .card .lower .ratings-line .star-icons{
    color: rgba(255, 173, 51, 1);
}

.card-section .card .lower .ratings-line .rating{
    color: grey;
}

.card-section .card .lower .checkbox{
    display: flex;
    align-items: center;
    gap: 7px
}

.card-section .card .lower .checkbox .color-circle{
    cursor: pointer ;
}

@media screen and (max-width: 1399px){
    .card-section .card .upper{
        height: 250px;
    }
    .card-section .card .upper .image img{
        max-width: 60%;
    }
}

@media screen and (max-width: 1199px){
    .card-section .card{
        width: calc((100% - 60px) / 3);
    }
    .card-section .card .upper .image{
        height: 160px;
    }
    .card-section .card .lower .kids {
        font-size: 14px;
    }
}

@media (max-width: 991px){
    .card-section {
        align-items: stretch;
    }
    .card-section .card{
        width: calc((100% - 60px) / 3);
    }
    .card-section .card .upper{
        height: 200px;
    }
     .card-section .card .upper .image{
        height: 140px;
    }
    .card-section .card .upper .image img {
        max-width: 55%;
    }
}

@media (max-width: 767px){
    .card-section .card{
        width: calc((100% - 30px) / 2);
    }
    .card-section .card .upper .cart p {
        font-size: 12px;
        padding: 7px 0px;
    }
    .card-section .card .upper .new p{
        font-size: 12px;
    }
}

@media screen and (max-width: 575px){
    .card-section{
        margin: 30px 15px;
    }
    
}

@media screen and (max-width: 375px){
.card-section .card .lower .ratings-line {
    font-size: 14px;
}
    .card-section .card .lower .kids {
        font-size: 12px;
    }
        .card-section .card .upper {
        height: 160px;
    }
    .card-section .card .upper .image{
        width: 100%;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .card-section .card .upper .image img {
        max-width: 55%;
        max-height: 100%;
        object-fit: contain;
    }
    .card-section .card .upper .icons i {
        font-size: 10px;
        width: 20px;
        height: 20px;
    }    
    .card-section .card .upper .new p {
        font-size: 8px;
    }
    .card-section .card .upper .new {
        padding: 4px 10px;
    }
    .card-section .card .lower .checkbox .color-circle img{
        width: 12px; 
}
}