*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

/* ================================================================================================== */

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px 0px 450px;
    background-color: black;
    color: white;
}

.head .summer-sale{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 60%;
    padding: 10px 0px;
}

.head .summer-sale .sale{
    font-size: 18px;
}

.head .summer-sale a{
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: all 0.5s ease-out;
}

.head .summer-sale a:hover{
    transform: translateY(-2px);
    color: #00B8D9;
}

.head .language-dropdown select{
    font-size: 18px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 3px 5px;
}

/* ================================================================================================== */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 90px 20px;
    overflow: hidden;
}

.header .exculsive{
    font-size: 22px;
}

.header .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 32%;
}

.header .nav a{
    color: black;
    text-decoration: none;
    transition: all 0.8s ease-in-out;
    font-weight: bold;
}

.header .nav a:hover{
    color: #00B8D9;
    transform: scale(1.1);
}

.header .nav a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background-color: #00B8D9;
    transition: width 0.3s ease;
}

.header .nav a:hover::after{
    width: 100%;
}

.header .search{
    display: flex;
    align-items: center;
}

.header .search .input{
    width: 350px;
    height: 40px;
    padding: 0px 15px;
    background-color: rgba(245, 245, 245, 1);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.header .search .input input{
    width: 100%;
    border: none;
    font-weight: 400;
    font-size: 18px;
    background-color: rgba(245, 245, 245, 1);
}

.header .search .input input:focus{
    outline: none;
}

.header .search .input input::placeholder{
    color: rgba(0, 0, 0, 0.5);
    opacity: 1;
}

.header .search .input i{
    font-size: 20px;
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.4s ease-in-out;
}

.header .search .input i:hover{
    color: #00B8D9;
}

.header .search .like{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 22px;
    cursor: pointer;
    padding: 0px 5px 0px 5px;
}

.header .search .like i{
    transform: scale(1.1);
    transition: all 0.4s ease-in-out;
}

.header .search .like i:hover{
    color: #00B8D9;
}

/* ================================================================================================== */

.apple{
    margin: 40px 150px 90px 150px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.apple .apple-text{
    padding: 40px 0px 40px 40px;
    color: white;
}

.apple .apple-text .apple-logo{
    width: 210px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.apple .apple-text .apple-logo p{
    font-weight: 500;
    font-size: 18px;
    padding-top: 7px;
}

.apple .apple-text h1{
    padding: 30px 0px;
    line-height: 60px;
    font-size: 45px;
    letter-spacing: 4%;
}

.apple .apple-text a{
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: all 0.4s ease-in-out;
    text-align: center;
}

.apple .apple-text a:hover{
    color: #00B8D9;
}

.apple .img img{
    width: 470px;
    padding: 20px;
}

/* ================================================================================================== */

.section1{
    padding: 0px 90px;
}

.section1 .today{
    display: flex;
    align-items: center;
    gap: 20px;
}

.section1 .today .block{
    padding: 20px 10px;
    border-radius: 4px;
    background-color: rgba(219, 68, 68, 1);
}

.section1 .today p{
    color: rgba(219, 68, 68, 1);
    font-weight: bold;
    font-size: 20px;
}

.section1 .flash{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 20px;
}

.section1 .flash .heading h2{
    font-weight: 600px;
    font-size: 36px;
    letter-spacing: 4%;
}

.section1 .flash .time{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 30px;
    margin-right: auto;
    margin-left: 80px;
}

.section1 .flash .time .times p{
    font-weight: bold;
    font-size: 14px;
    padding: 5px;
}

.section1 .flash .time .times h2{
    font-weight: 700px;
    font-size:  32px;
    line-height: 30px;
    padding-left: 6px;
}

.section1 .flash .time .colon{
    margin-top: 15px;
    font-size: 20px;
    font-weight: bolder;
    color: rgba(219, 68, 68, 1);
}

.section1 .flash .arrow{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    width: 110px;
}

.section1 .flash .arrow i{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(128, 128, 128, 0.2);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.section1 .flash .arrow i:hover{
    color: #00B8D9;
}

/* /============================================================================================================= */

.card-section{
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 50px 90px;
    flex-wrap: wrap;
}

.card-section .card{
    width: calc((100% - 90px) / 4);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.card-section .card:hover{
    transform: translateY(-5px);
}

.card-section .card .upper{
    position: relative;
    height: 270px;
    align-content: center;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    overflow: hidden;
}

.card-section .card .upper .new{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 255, 102, 1);
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
}

.card-section .card .upper .discount{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(219, 68, 68, 1);
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
}

.card-section .card .upper .icons{
    position: absolute;
    top: 15px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    cursor: pointer;
}

.card-section .card .upper .icons i{
    transition: all 0.6s ease-in-out;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: white;
    align-content: center;
}

.card-section .card .upper .icons i:hover{
    color: aqua;    
}

.card-section .card .upper .image{
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-section .card .upper .image img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.card-section .card .upper .cart{
    position: absolute;
    bottom: -60px;        
    width: 100%;
    text-align: center;
    transition: all 1.5s ease;
}

.card-section .card .upper .cart p{
    width: 100%;
    padding: 12px 0;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.card-section .card:hover .upper .cart{
    bottom: 0;
}

.card-section .card .lower{
    padding: 20px 5px 10px 5px;
}

.card-section .card .lower .kids{
    font-weight: bold;
}

.card-section .card .lower .ratings-line{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 10px;
    padding-left: 0;
}

.card-section .card .lower .ratings-line .price{
    color: rgba(219, 68, 68, 1);
    font-weight: bold;
}

.card-section .card .lower .price1{
    padding-top: 10px;
    color: rgba(219, 68, 68, 1);
    font-weight: bold;
    word-spacing: 10px;
    font-size: 18px;
}

.card-section .card .lower .price1 span{
    text-decoration: line-through;
    color: gray;
    font-size: 14px;
}

.card-section .card .lower .ratings-line .star-icons{
    color: rgba(255, 173, 51, 1);
}

.card-section .card .lower .ratings-line .star-icons span{ 
    color: rgb(210, 206, 206);
}

.card-section .card .lower .ratings-line .rating{
    color: grey;
}

.card-section .card .lower .checkbox{
    display: flex;
    align-items: center;
    gap: 7px
}

.card-section .card .lower .checkbox .color-circle{
    cursor: pointer ;
}

/* ========================================================================================= */

.product{ 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

.product a{
    padding: 15px 35px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 18px;
    background-color: rgba(219, 68, 68, 1);
    cursor: pointer;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    transition: all 0.5s ease-in-out;
    text-align: center;
    align-content: center;
}

.product a:hover{
    background-color: white;
    color: rgb(219, 68, 68);
    border: 2px solid rgb(219, 68, 68);
}



/* ======================================================================================= */


@media screen and (max-width: 1920px){
    .head .summer-sale {
        width: 65%;
    }
    .section1 .flash .time {
        right: 200px;
    }  
}

@media screen and (max-width: 1660px){
    .head {
        padding-left: 300px;
    }
    .head .summer-sale {
        width: 75%;
    }
    .head .language-dropdown select {
        font-size: 16px;
    }
    .apple {
    margin: 40px 120px 90px 120px;
    }
    .section1 .flash .time {
        right: 80px;
    }
}

@media screen and (max-width: 1399px){
    .head {
        padding-left: 200px;
    }
   .head .summer-sale {
        width: 80%;
    }
    .header{
        padding: 40px 60px 20px;
    }
    .header .search .input {
        width: 310px;
    }
     .apple .img img {
        width: 420px;
    }
    .section1 .flash .time {
        right: 50px;
    }
    .section1 .flash .time {
        gap: 32px;
    }
    .section1 .flash .heading h2 {
        letter-spacing: 4%;
    }
    .card-section {
        padding: 100px 60px;
    }
    .card-section .card .upper{
        height: 210px;
    }
    .card-section .card .upper .image img{
        max-width: 55%;
    }
}

@media screen and (max-width: 1199px){
    .head {
        padding-left: 100px;
    }
   .head .summer-sale {
        width: 80%;
    }
     .head .summer-sale .sale{
        font-size: 14px;
    }
    .head .summer-sale a{
    font-size: 16px;
    }
    .head .language-dropdown select {
        font-size: 16px;
    }
    .header .exculsive {
    font-size: 18px;
    }
    .header .nav {
        width: 30%;
    }
    .header .search .input {
        width: 290px;
    }
    .apple {
        margin: 40px 100px 90px 100px;
    }
    .apple .apple-text h1 {
        padding: 20px 0px;
        line-height: 50px;
        font-size: 40px;
    }
    .apple .img img {
        width: 380px;
    }
    .section1 .flash .heading h2 {
        font-size: 30px;
        letter-spacing: 0%;
    }
    .section1 .flash .time {
        bottom: 6px;
        gap: 26px;
        right: 15px;
    }
    .card-section {
        padding: 50px;
    }
    .card-section .card{
        width: calc((100% - 90px) / 3);
    }
    .card-section .card .upper .image{
        height: 160px;
    }
    .card-section .card .lower .kids {
        font-size: 14px;
    }
}

@media (max-width: 991px){
    .head {
        padding: 0px 50px;
    }
    .head .summer-sale {
        width: 85%;
        gap: 10px;
    }
    .head .summer-sale a{
        font-size: 14px;
    }
    .head .language-dropdown select{
        padding: 2px;
        font-size: 14px;
    }
    .header {
        flex-wrap: wrap;
    }
    .header .nav {
        width: 50%;
    }
    .header .search {
        padding-top: 20px;
    }
    .apple {
        margin: 40px 60px 90px 60px;
    }
    .apple .apple-text .apple-logo {
        width: 150px;
    }
    .apple .apple-text .apple-logo img{
        width: 30px;
    }
    .apple .apple-text .apple-logo p {
        font-weight: 400;
        font-size: 14px;
    }
    .apple .apple-text h1 {
        line-height: 40px;
        font-size: 32px;
    }
    .apple .img img {
        width: 340px;
    }
    .apple .apple-text a {
        font-size: 16px;
    }
     .apple .apple-text i {
        font-size: 12px;
    }
    .section1 {
        padding: 100px 60px;
    }
    .section1 .today .block {
        padding: 17px 8px;
    }
    .section1 .flash .time {
        gap: 12px;
        right: 0px;
    }
    .section1 .flash .heading h2 {
        font-size: 24px;
    }
    .section1 .flash .time .times h2 {
        font-weight: 400px;
        font-size: 20px;
        line-height: 0px;
        padding-left: 14px;
    }
    .section1 .flash .time .times p {
        font-weight: bold;
        font-size: 12px;
        padding: 10px;
    }
    .section1 .flash .time {
        bottom: 10px;
    }
    .section1 .flash .arrow i {
        width: 30px;
        height: 30px;
        font-size: 12px;
    }
    .section1 .flash .arrow {
        width: 70px;
    }
    .card-section {
        align-items: stretch;
        padding: 50px;
    }
    .card-section .card{
        width: calc((100% - 60px) / 3);
    }
    .card-section .card .upper{
        height: 180px;
    }
     .card-section .card .upper .image{
        height: 140px;
    }
    .card-section .card .upper .image img {
        max-width: 50%;
    }
    .product a {
        padding: 15px 25px;
        font-size: 16px;
    }
}

@media (max-width: 767px){
    .head {
        padding: 0px 30px;
    }
    .head .summer-sale .sale {
        font-size: 10px;
    }
    .head .summer-sale a{
        font-size: 10px;
    }
    .head .language-dropdown select{
        padding: 2px;
        font-size: 12px;
    }
    .header .exculsive {
        font-size: 16px;
    }
    .header .nav {
        width: 55%;
    }
    .header .nav a {
        font-weight: 400px;
        font-size: 14px;
    }
    .header .search .like {
        font-size: 18px;
    }
    .header .search .input {
        height: 30px;
    }
    .header .search .input input {
        font-size: 16px;
    }
    .header .search .input i {
        font-size: 18px;
    }
     .apple .apple-text{
        padding: 20px 0px 20px 20px;
        color: white;
    }
    .apple .apple-text .apple-logo {
        width: 120px;
    }
    .apple .apple-text .apple-logo img{
        width: 20px;
    }
    .apple .apple-text .apple-logo p {
        font-weight: lighter;
        font-size: 12px;
    }
    .apple .apple-text h1 {
        padding-top: 10px;
        padding-bottom: 20px;
        line-height: 35px;
        font-size: 24px;
    }
    .apple .apple-text a {
        font-size: 12px;
    }
     .apple .apple-text i {
        font-size: 10px;
    }
    .apple .img img {
        width: 273px;
        padding-top: 20px;
    }
    .section1{
            padding: 0px 20px;
    }
    .section1 .flash .heading h2 {
        font-size: 22px;
    }
    .section1 .flash {
        justify-content: flex-start;
        gap: 20px;
    }
    .section1 .flash .time {
        margin-left: 0;
        gap: 15px;
    }
    .section1 .flash .time .times p {
        font-size: 10px;
    }
    .section1 .flash .time .times h2 {
        font-size: 18px;
    }
        .section1 .flash .arrow i {
        font-size: 10px;
    }
    .card-section {
        padding: 30px;
    }
    .card-section .card{
        width: calc((100% - 30px) / 2);
    }
    .card-section .card .upper .cart p {
        font-size: 12px;
        padding: 7px 0px;
    }
    .card-section .card .upper .new p{
        font-size: 12px;
    }
    .section1 .flash .arrow {
        display: none;
    }
    .product a {
        padding: 12px 22px;
        font-size: 14px;
    }
}

@media screen and (max-width: 575px){
     .head{
        flex-wrap: wrap;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 10px;
    }
    .head .summer-sale{
        width: 100%;
        gap: 5px;
        flex-wrap: wrap;
    }
    .header .exculsive {
        font-size: 12px;
    }
    .header .nav {
        width: 60%;
    }
    .header .nav a{
        font-size: 11px;
    }
    .header {
        padding: 40px 20px 20px;
    }
    .header .search{
        padding-right: 20px;
    }
    .header .search .input i {
        font-size: 16px;
    }
    .header .search .like {
        font-size: 16px;
    }
    .header .search .input {
        width: 200px;
        padding: 0px;
    }
    .header .search .input input {
        font-size: 14px;
    }
    .apple {
        margin: 0px;
        justify-content: center;
        overflow: hidden;
    }
    .apple .apple-text .apple-logo {
        width: 150px;
    }
    .apple .apple-text .apple-logo img {
        width: 30px;
    }
    .apple .apple-text .apple-logo p {
        font-weight: 500;
        font-size: 14px;
    }
    .apple .apple-text h1 {
        font-size: 30px;
    }
    .apple .apple-text a {
        font-size: 14px;
    }
    .section1{
        padding: 20px 10px;
    }
    .section1 .flash .time {
        gap: 6px
    }
    .section1 .flash .time .times h2 {
        padding-left: 7px;
    }
    .card-section{
        padding: 10px;
        gap: 20px;
    }
    .card-section .card .upper .image img {
        max-width: 45%;
    }    
}

@media screen and (max-width: 350px){

}