*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

/* ================================================================================================== */

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px 0px 450px;
    background-color: black;
    color: white;
}

.head .summer-sale{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 60%;
    padding: 10px 0px;
}

.head .summer-sale .sale{
    font-size: 18px;
}

.head .summer-sale a{
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: all 0.5s ease-out;
}

.head .summer-sale a:hover{
    transform: translateY(-2px);
    color: #00B8D9;
}

.head .language-dropdown select{
    font-size: 18px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 3px 5px;
}

/* ================================================================================================== */

.card-section{
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 100px 90px;
    flex-wrap: wrap;
}

.card-section .card{
    width: calc((100% - 90px) / 4);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.card-section .card:hover{
    transform: translateY(-5px);
}

.card-section .card .upper{
    position: relative;
    height: 270px;
    align-content: center;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    overflow: hidden;
}

.card-section .card .upper .new{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 255, 102, 1);
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
}

.card-section .card .upper .icons{
    position: absolute;
    top: 15px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    cursor: pointer;
}

.card-section .card .upper .icons i{
    transition: all 0.6s ease-in-out;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: white;
    align-content: center;
}

.card-section .card .upper .icons i:hover{
    color: aqua;    
}

.card-section .card .upper .image{
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-section .card .upper .image img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.card-section .card .upper .cart{
    position: absolute;
    bottom: -60px;        
    width: 100%;
    text-align: center;
    transition: all 1.5s ease;
}

.card-section .card .upper .cart p{
    width: 100%;
    padding: 12px 0;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.card-section .card:hover .upper .cart{
    bottom: 0;
}

.card-section .card .lower{
    padding: 20px 5px 10px 5px;
}

.card-section .card .lower .kids{
    font-weight: bold;
}

.card-section .card .lower .ratings-line{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 10px;
    padding-left: 0;
}

.card-section .card .lower .ratings-line .price{
    color: rgba(219, 68, 68, 1);
    font-weight: bold;
}

.card-section .card .lower .ratings-line .star-icons{
    color: rgba(255, 173, 51, 1);
}

.card-section .card .lower .ratings-line .star-icons span{ 
    color: rgb(210, 206, 206);
}

.card-section .card .lower .ratings-line .rating{
    color: grey;
}

.card-section .card .lower .checkbox{
    display: flex;
    align-items: center;
    gap: 7px
}

.card-section .card .lower .checkbox .color-circle{
    cursor: pointer ;
}

/* ================================================================================================== */

@media screen and (max-width: 1920px){
    .head .summer-sale {
        width: 65%;
    }
}

@media screen and (max-width: 1660px){
    .head {
        padding-left: 300px;
    }
    .head .summer-sale {
        width: 75%;
    }
    .head .language-dropdown select {
        font-size: 16px;
    }
}

@media screen and (max-width: 1399px){
    .head {
        padding-left: 200px;
    }
   .head .summer-sale {
        width: 80%;
    }
    .card-section .card .upper{
        height: 210px;
    }
    .card-section .card .upper .image img{
        max-width: 55%;
    }
}

@media screen and (max-width: 1199px){
      .head {
        padding-left: 100px;
    }
   .head .summer-sale {
        width: 80%;
    }
     .head .summer-sale .sale{
        font-size: 14px;
    }
    .head .summer-sale a{
    font-size: 16px;
    }
    .head .language-dropdown select {
        font-size: 16px;
    }
    .card-section {
        padding: 50px;
    }
    .card-section .card{
        width: calc((100% - 90px) / 3);
    }
    .card-section .card .upper .image{
        height: 160px;
    }
    .card-section .card .lower .kids {
        font-size: 14px;
    }
}

@media (max-width: 991px){
    .head {
        padding: 0px 50px;
    }
    .head .summer-sale {
        width: 85%;
        gap: 10px;
    }
    .head .summer-sale a{
        font-size: 14px;
    }
    .head .language-dropdown select{
        padding: 2px;
        font-size: 14px;
    }
    .card-section {
        align-items: stretch;
        padding: 50px;
    }
    .card-section .card{
        width: calc((100% - 60px) / 3);
    }
    .card-section .card .upper{
        height: 180px;
    }
     .card-section .card .upper .image{
        height: 140px;
    }
    .card-section .card .upper .image img {
        max-width: 50%;
    }
}

@media (max-width: 767px){
    .head {
        padding: 0px 30px;
    }
    .head .summer-sale .sale {
        font-size: 10px;
    }
    .head .summer-sale a{
        font-size: 10px;
    }
    .head .language-dropdown select{
        padding: 2px;
        font-size: 12px;
    }
    .card-section {
        padding: 30px;
    }
    .card-section .card{
        width: calc((100% - 30px) / 2);
    }
    .card-section .card .upper .cart p {
        font-size: 12px;
        padding: 7px 0px;
    }
    .card-section .card .upper .new p{
        font-size: 12px;
    }
}

@media screen and (max-width: 575px){
     .head{
        flex-wrap: wrap;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 10px;
    }
    .head .summer-sale{
        width: 100%;
        gap: 5px;
        flex-wrap: wrap;
    }
    .card-section{
        padding: 10px;
        gap: 20px;
    }
    .card-section .card .upper .image img {
        max-width: 45%;
    }    
}